:root{
  font-size: 12px;
}

body{

  background: #1f1f1e;
  color: white;
}



p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
